/* Definición de variables de colores */
:root {
  --color-primario: #0d0c1d;
  --color-secundario: #f1dac4;
  --color-terciario: #161b33;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establecer la altura mínima del cuerpo como el 100% del viewport height */
}

h1,
h5 {
  color: var(--color-secundario) !important;
}

.card-hover {
  height: 40vh;
}

.card-hover:hover {
  box-shadow: 0 4px 8px var(--color-terciario); /* Cambia la sombra al hacer hover */
  transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el efecto */
  background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover */
}

footer {
  background-color: var(--color-terciario);
  height: 5vh;
  text-align: center;
}

.content {
  flex: 1; /* Hacer que el contenedor principal ocupe todo el espacio disponible */
  height: 85vh;  /* Establecer la altura del cuerpo como el 80% del viewport height */
}

/* Estilos para la barra de navegación */
.navbar-custom {
  background: var(--color-primario) !important;
  color: var(--color-secundario) !important; /* Cambia este valor al color del texto que desees */
  height: 10vh;
}
