/* Definición de variables de colores */
:root {
  --color-primario: #0d0c1d;
  --color-secundario: #f1dac4;
  --color-terciario: #161b33;
  --color-h1-text: #a7a2ee;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establecer la altura mínima del cuerpo como el 100% del viewport height */
}

h1,
h5 {
  color: var(--color-secundario) !important;
}

h1:hover{
  color: var(--color-h1-text) !important;
}

.card-hover {
  height: 40vh;
}

.card-hover:hover {
  box-shadow: 0 4px 8px var(--color-terciario); /* Cambia la sombra al hacer hover */
  transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el efecto */
  background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover */
}

.card-custom {
  height: 20vh;
}

.card-custom:hover {
  box-shadow: 0 4px 8px var(--color-terciario); /* Cambia la sombra al hacer hover */
  transition: box-shadow 0.3s ease; /* Agrega una transición para suavizar el efecto */
  background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover */
}

footer {
  background-color: var(--color-terciario);
  height: 5vh;
  text-align: center;
}

.content {
  flex: 1; /* Hacer que el contenedor principal ocupe todo el espacio disponible */
  height: 85vh;  /* Establecer la altura del cuerpo como el 80% del viewport height */
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: center;
}
/* Estilos para la barra de navegación */
.navbar-custom {
  background: var(--color-primario) !important;
  color: var(--color-secundario) !important; /* Cambia este valor al color del texto que desees */
  height: 10vh;
}

.button-custom{
  background: var(--color-primario) !important;
  border-color: var(--color-primario) !important; /* Change this to the desired shade of blue */
  margin-right: 8px;
  margin-left: 8px;
}

.button-custom:hover{
  background: var(--color-terciario) !important;
  border-color: var(--color-primario) !important; /* Change this to the desired shade of blue */
  box-shadow: 0 4px 8px var(--color-terciario); /* Cambia la sombra al hacer hover */

}

.card-custom-video {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 600px;
  width: 680px;
  text-align: center; /* Centro horizontalmente */
}

.card-custom-video:hover {
  background: var(--color-terciario) !important;
  border-color: var(--color-primario) !important; /* Change this to the desired shade of blue */
  box-shadow: 0 4px 8px var(--color-terciario); /* Cambia la sombra al hacer hover */
}

#videoName {
  width: 95%;
  position: absolute; /* Añade posición absoluta */
  bottom: 10px; /* Ajusta la posición desde la parte inferior según tus necesidades */
  z-index: 1; /* Añade un z-index mayor que el de los elementos en el fondo */
}
#recordButton,
#stopRecordButton {
  margin: auto; /* Centro verticalmente */
}
.margin-left-custom {
  margin-left: -500px; /* Ajusta este valor para mover el botón a la izquierda según tus preferencias */
  margin-top: -50px;
}

.card-2 {
  height: auto;
}