
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-2 content">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="trainingCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/train.ico') }}" alt="Train Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Capture or Training Video Upload</h4>
                    <p class="card-text">
                        Capture a video to train the model and enable facial recognition.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="uploadCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/upload.ico') }}" alt="Cloud Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Facial Recognition on Uploaded Videos</h4>
                    <p class="card-text">
                        Upload a video to perform facial recognition on previously trained faces.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="realtimeCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/webcam.ico') }}" alt="Webcam Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Real-Time Facial Recognition from Webcam</h4>
                    <p class="card-text">
                        Capture video from your webcam and observe real-time facial recognition.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="personRealtimeCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/person.ico') }}" alt="Person Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Recognition of people in real time from the webcam</h4>
                    <p class="card-text">
                        Capture video from your webcam and observe real-time of person recognition.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
