
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-2 content">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="trainingCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/train.ico') }}" alt="Train Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Agregar persona</h4>
                    <p class="card-text">
                        Captura un video para entrenar el modelo y habilitar el reconocimiento facial.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="uploadCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/upload.ico') }}" alt="Cloud Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Reconocimiento facial en videos cargados.</h4>
                    <p class="card-text">
                        Sube un video para realizar reconocimiento facial en rostros previamente entrenados.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="realtimeCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/webcam.ico') }}" alt="Webcam Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Reconocimiento facial</h4>
                    <p class="card-text">
                        Captura video desde tu cámara web y observa el reconocimiento facial en tiempo real.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card card-hover mb-3"  id="personRealtimeCard" style="cursor: pointer;">
                <img src="{{ url_for('static', filename='assets/images/person.ico') }}" alt="Person Icon" class="card-img-top mx-auto d-block" style="width: 100px; height: 100px;">
                <div class="card-body text-center">
                    <h4 class="card-title">Reconocimiento de personas</h4>
                    <p class="card-text">
                        Captura vídeo desde tu cámara web y obserba el reconocimiento de personas en tiempo real.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
