{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="/training" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <label for="videoFile" class="form-label">Select Video (.mp4) or Record from Webcam</label>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 card-custom">
                    <div class="card-body">
                        <input type="file" class="form-control" id="videoFile" name="videoFile" accept=".mp4">
                        <div class="invalid-feedback">
                            Please choose a valid .mp4 file.
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card mb-3 card-custom-video">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" id="recordButton">Record from Webcam</button>
                        <video id="liveVideo" style="display: none;" autoplay></video>
                        <input type="hidden" id="webcamVideo" name="webcamVideo">
                        <input type="text" class="form-control mt-2" id="videoName" name="videoName" placeholder="Enter a name for person">
                        <button type="button" class="btn btn-danger mt-2" id="stopRecordButton" style="display: none;">Stop Recording</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary button-custom margin-left-custom">Upload Video and Train</button>
            </div>
        </div>
    </form>

    {% if message %}
        <div class="mt-3 alert alert-{{ 'success' if success else 'danger' }}" role="alert">
            {{ message }}
        </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const recordButton = document.getElementById('recordButton');
    const stopRecordButton = document.getElementById('stopRecordButton');
    const liveVideo = document.getElementById('liveVideo');
    const videoNameInput = document.getElementById('videoName');
    const webcamVideoInput = document.getElementById('webcamVideo');
    let mediaRecorder;
    let mediaStream;

    recordButton.addEventListener('click', startRecording);
    stopRecordButton.addEventListener('click', stopRecording);

    async function startRecording() {
        mediaStream = await navigator.mediaDevices.getUserMedia({ video: true });
        liveVideo.srcObject = mediaStream;
        liveVideo.style.display = 'block';

        mediaRecorder = new MediaRecorder(mediaStream);
        let chunks = [];
        mediaRecorder.ondataavailable = (event) => {
            if (event.data.size > 0) {
                chunks.push(event.data);
            }
        };
        mediaRecorder.onstop = () => {
            const blob = new Blob(chunks, { type: 'video/webm' });
            console.log('Tamaño del blob:', blob.size);
            const url = URL.createObjectURL(blob);
            liveVideo.src = url;
            liveVideo.style.display = 'block';
            webcamVideoInput.value = url;
        };
        
        mediaRecorder.start();
        chunks = [];
        recordButton.style.display = 'none';
        stopRecordButton.style.display = 'block';
    }

    function stopRecording() {
        mediaRecorder.stop();
        mediaStream.getTracks().forEach(track => track.stop());
        stopRecordButton.style.display = 'none';
        recordButton.style.display = 'block';
    }
});

</script>
{% endblock %}
