{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="/upload_video" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row">
            <div class="mb-3">
                <div class="card mb-3 card-custom">
                    <div class="card-body">
                        <label for="videoFile" class="form-label">Select Video (.mp4)</label>
                        <input type="file" class="form-control" id="videoFile" name="videoFile" accept=".mp4" required>
                        <div class="invalid-feedback">
                            Please choose a valid .mp4 file.
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary button-custom">Upload Video</button>
            </div>
        </div>    
    </form>

    {% if video_url %}
    <div class="mt-3">
        <p>Processed Video:</p>
        <video width="100%" controls>
            <source src="{{ video_url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endif %}

</div>

<script>
    // Bootstrap validation script
    (function () {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>
{% endblock %}
