{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action="/upload_video" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row">
            <div class="mb-3">
                <div class="card mb-3 card-custom">
                    <div class="card-body">
                        <label for="videoFile" class="form-label">Select Video (.mp4)</label>
                        <input type="file" class="form-control" id="videoFile" name="videoFile" accept=".mp4" required>
                        <div class="invalid-feedback">
                            Please choose a valid .mp4 file.
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary button-custom" onclick="uploadVideo()">Upload Video</button>
            </div>
        </div>    
    </form>

    <div class="mt-3" id="video-container">
        {% if video_url %}

            <p>Processed Video:</p>
            <video width="100%" controls>
                <source src="{{ video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        
        {% endif %}
    </div>

</div>

<script>
    // Bootstrap validation script
    (function () {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();

    function uploadVideo() {
    // Obtener el contenedor del video
    var videoContainer = document.getElementById('video-container');

    // Crear un nuevo div para reemplazar el existente
    var nuevoDiv = document.createElement('div');
    nuevoDiv.setAttribute('class', 'mt-3');
    nuevoDiv.setAttribute('id', 'video-container');

    // Agregar el nuevo div al mismo lugar que el original
    videoContainer.parentNode.replaceChild(nuevoDiv, videoContainer);

    // Agregar un parámetro aleatorio a la URL del video para evitar la caché
    var videoPlayer = document.createElement('video');
    videoPlayer.width = "100%";
    videoPlayer.controls = true;
    var source = document.createElement('source');
    source.src = "{{ video_url }}" + "?v=" + Math.random(); // Agregar un parámetro aleatorio
    source.type = "video/mp4";
    videoPlayer.appendChild(source);

    // Añadir el nuevo reproductor de video al nuevo div
    nuevoDiv.appendChild(videoPlayer);
}
</script>
{% endblock %}
