{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <form id="form" action="/upload_video" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row justify-content-end"> 
            <div class="col-md-12">
                <div class="mb-2">
                    <div class="card mb-2 card-custom card-2">
                        <div class="card-body">
                            <label for="videoFile" class="form-label">Seleccionar Vídeo (.mp4)</label>
                            <input type="file" class="form-control" id="videoFile" name="videoFile" accept=".mp4" required onchange="showVideoPreview(this)">
                            <div class="invalid-feedback">
                                Por favor seleccione un archivo .mp4 válido.
                            </div>
                            
                            <div class="d-flex justify-content-end">
                                <button id="inicio" class="btn btn-primary mt-3 mr-2 button-custom">Cancelar/Volver a Inicio</button>
                                <button type="submit" class="btn btn-primary mt-3 ml-2 button-custom">Realizar Reconocimiento</button>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div> 
    </form>
    

    <div class="row mt-4">
        <div class="col-md-6" id="originalVideoContainer" style="width: 50%;">
            <h5>Vídeo Original</h4>
            <!-- Aquí se mostrará el vídeo original -->
            <video id="videoPreview" controls style="display: none; width: 100%; max-width: 100%;"></video>
        </div>
        <div class="col-md-6" id="resultVideoContainer" style="width: 50%;">
            <h5>Vídeo Con Reconocimiento</h4>
            <!-- Aquí se mostrará el resultado después de la subida -->
            <video id="videoResult" controls style="display: none; width: 100%; max-width: 100%;"></video>
        </div>
    </div>
    


    <!-- Modal para mostrar mientras se entrena la red -->
    <div class="modal" tabindex="-1" id="loadingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <p>Espere, procesando vídeo...</p>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    // Bootstrap validation script
    (function () {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();

    document.addEventListener('DOMContentLoaded', function() {

        const homeButton = document.getElementById('inicio');

        // Evento para redirigir a la página de inicio
        homeButton.addEventListener('click', function() {
            window.location.href = '/';
        });

        // submit
        const form = document.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
    
            const videoFile = document.getElementById('videoFile').files[0];    
            
            const formData = new FormData();

            formData.append('videoFile', videoFile);

            // Muestra el modal
            $('#loadingModal').modal('show');
    
            fetch('/upload_video', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                //console.log(data); // Manejar la respuesta del servidor
                $('#loadingModal').modal('hide');

                // Limpiar todos los campos
                //form.reset();

                // Mostrar la respuesta del servidor en el espacio para el vídeo
                if (data.video_url) {
                    displayResultVideo(data.video_url, 'videoResult');
                    
                } else {
                    console.error('Error al procesar el video:', data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    function displayResultVideo(videoURL, videoElementId) {
        var resultVideoContainer = document.getElementById('resultVideoContainer');
        resultVideoContainer.innerHTML = ''; // Limpiar el contenedor antes de mostrar el nuevo vídeo

        // Crear el elemento de título
        var titleElement = document.createElement('h5');
        titleElement.textContent = 'Vídeo con Reconocimiento';

        var resultVideo = document.createElement('video');
        resultVideo.src = videoURL;
        resultVideo.controls = true;
        resultVideo.style.width = '100%';
        resultVideo.style.maxWidth = '100%';

        // Establecer el ID del elemento video según el parámetro
        resultVideo.id = videoElementId;

        resultVideoContainer.appendChild(titleElement);
        resultVideoContainer.appendChild(resultVideo);

        // Mostrar el video
        resultVideo.style.display = 'block';
    }

    function showVideoPreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var videoPreview = document.getElementById('videoPreview');
                videoPreview.src = e.target.result;
                videoPreview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock %}
